<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="root">
</div>
</body>
<% for (let item in htmlWebpackPlugin.options.scripts) { %>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.scripts[item] %>"></script>
<% } %>

</html>